body {
    color: white;
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}
.wrapper {
    display: grid;
    padding: 120px 148px;

    /* have the 4 columns with 1 fragment */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    /* set the row height with grid-auto-rows */
    grid-auto-rows: minmax(100px, 244px);

  }

  /* remove column 1, row 1, also in mobile */
  .unused {
      display: none;
  }
   .timeslot-1, .timeslot-2, .timeslot-3, .timeslot-4, .timeslot-5, .timeslot-6 {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: top 0px right 20px;
  }
  .profile {
    background-color: hsl(235, 46%, 20%);
    grid-row: 1 / 3;
    grid-column: 1;
    grid-column-start: 1;
    border-radius: 15px;
  }
  .timeslot-1 {
    grid-column: 2;
    grid-row: 1;
    background-color: hsl(15, 100%, 70%);
    background-image: url('./images/icon-work.svg');
  }
  .timeslot-2 {
    grid-column: 3;
    grid-row: 1;
    background-color: hsl(195, 74%, 62%);
    background-image: url('./images/icon-play.svg');
  }

  .timeslot-3 {
    grid-column: 4;
    grid-row: 1;
    background-color: hsl(348, 100%, 68%);
    background-image: url('./images/icon-study.svg');
  }

  .timeslot-4 {
    grid-column: 2;
    grid-row: 2;
    background-color: hsl(145, 58%, 55%);
    background-image: url('./images/icon-exercise.svg');
  }

  .timeslot-5 {
    grid-column: 3;
    grid-row: 2;
    background-color: hsl(264, 64%, 52%);
    background-image: url('./images/icon-social.svg');
  }

  .timeslot-6 {
    grid-column: 4;
    grid-row: 2;
    background-color: hsl(43, 84%, 65%);
    background-image: url('./images/icon-self-care.svg');
  }

  .slot-info {
      background-color: hsl(235, 46%, 20%);
      height: 199px;
      margin: 46px 0 0 0;
      border-radius: 15px;
  }

  .slot-info:hover {
      background-color: hsl(235, 45%, 61%);
      cursor: pointer;

  }

  .slot-title {
      background-image: url('./images/icon-ellipsis.svg');
      background-repeat: no-repeat;
      background-position: top 35px right 25px;
      padding-top: 29px;
      padding-left: 30px;
      padding-bottom: 25px;
      font-size: 18px;
  }

  .details {
      height: 350px;
      background-color: hsl(246, 80%, 60%);
      border: 1px solid hsl(246, 80%, 60%);
      border-radius: 15px;
  }
  
  .links {
      height: 150px;
  }

  .profile-image, .profile-detail {
      margin:37px 39px 0 32px;
  }

  

  .first-name, .last-name {
    font-size: 40px;
    margin: 0;
    font-weight: 300;
  }

  .duration-current {
      padding-left: 30px;
      font-size: 50px;
      font-weight: 300;
  }

  .duration-previous {
    padding-left: 30px;
    padding-top: 8px;
    font-size: 15px;
    color: hsl(236, 100%, 87%);
    display: block;
  }

  h4 {
      font-weight: 300;
      color: #BBC0FF;
      font-size: 15px;
      margin: 0;
  }

  h2 {
      font-size: 40px;
      margin: 0;
      font-weight: 300;
  }

  .links {
      display: flex;
      flex-direction: column;
  }

  .link-item {
    margin: 15px 32px;
  }

  .slot-link {
    text-decoration: none;
    color: #7078C9;
  }

  .slot-link:hover, .slot-link.active {
    color: white;
  }

@media screen and (max-width: 375px) {
    .wrapper {
        padding: 0 24px;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        grid-auto-rows: minmax(160px, auto);
    }

    .profile {
        height: 160px;
        grid-row: unset;
    }

    .details {
        height: 90px;
    }

    .links {
        height: 70px;
    }

    .timeslot-1, .timeslot-2, .timeslot-3, .timeslot-4, .timeslot-5, .timeslot-6 {
        grid-column: auto;
        grid-row: auto;
        margin: 0;
    }

    .slot-info {
        height: 122px;
        margin: 39px 0 0 0;
    }

    .details {
        display: flex;
    }

    .profile-detail {
        flex-grow: 1;
        margin: 25px 20px 0 20px;
    }

    .profile-image {
        width: 20px;
        margin:15px 39px 0 20px;
    }

    .profile-image > img {
        height: 64px;
        width: 64px;;
    }

    .first-name, .last-name {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
      }
      .slot-title {
          padding-bottom: 7px;
      }
    .duration-current {
        font-size: 32px;
    }
  
    .duration-previous {
        display: inline;
        font-size: 13px;
        padding-top: 0;
    }

    .links {
        flex-direction: row;
    }
  
    .link-item {
      margin: 20px 27px;
    }
}